<%- include('../includes/head.ejs') %>

<section class="container">
	<%- include('../includes/topbar.ejs') %> <%-
	include('../includes/sidebar.ejs') %>

	<div class="content">
		<h1
			style="
				font-size: 4rem;
				text-align: center;
				color: #43475f;
				margin-top: 10rem;
			"
		>
			This Account is only for creating Office Admin Account.
		</h1>
	</div>
</section>

<%- include('../includes/end.ejs') %>
