<%- include('../includes/head.ejs') %> 

<section class="container">
    <%- include('../includes/topbar.ejs') %> 

    <%- include('../includes/sidebar.ejs') %> 

    <div class="content">
        <h1 style="font-size: 6rem; text-align:center; color: #43475F;">Under Construction</h1>
    </div>
</section>

<%- include('../includes/end.ejs') %>