<div class="filter">
    <div class="filter__btn">
        <button class="filter__btn--single hide">Switch to Single Date</button>
        <button class="filter__btn--range">Switch to Date Range</button>
    </div>

    <div class="filter__form">
        <form class="filter__form--single">
            <input name="date" type="date" class="input-text">
            <button type="submit" class="submit-btn">Search</button>
        </form>

        <form class="filter__form--range hide">
            <input name="fromDate" type="date" class="input-text">
            <input name="toDate" type="date" class="input-text">
            <button type="submit" class="submit-btn">Search</button>
        </form>
    </div>
</div>