<%- include('../includes/head.ejs') %> 

<%- include('../includes/topNav.ejs') %> 

<div class="home">
    <div class="home__content">
        <div class="home__logoTitle">
            <h1>EIMS</h1>
        </div>
    
        <div class="home__logoTitle--abbr">
            <h2>Electricity Interruption Monitoring System</h2>
        </div>
    
        <div class="home__developer-credit">
            <h3>Built and Developed By <a href="https://github.com/itstanmaymitra" target="_blank">itsTanmayMitra</a></h3>
        </div>
    </div>
</div>

<%- include('../includes/end.ejs') %> 